body {
  font-family: Open Sans;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

.circ-button {
  display: block;
  width: 6em;
  height: 6em;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: green;
  border: 10px dashed #fff;
  border-radius: 6em;
  padding-top: 2em;
  transition: all linear 0.15s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin: 2em auto;
}
.circ-button:hover {
  background: magenta;
  border-color: black;
  color: black;
}
